.lotties {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  margin: 10px;
  background: #4a90e2;
  border: none;
  padding: 10px;
  color: #fff;
}

button:hover {
  background: none;
  border: 1px solid #4a90e2;
  color: grey;
}
button:focus {
  border: 2px solid #4a90e2;
}